@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
  .heart {
    animation: heart 1000ms infinite;
  }

.center {
    text-align: center;
}

.md-typeset .center-table :is(td,th):not([align]) {
  /* Reset alignment for table cells */
  text-align: initial;
}